Repository scania-digital-design-system/tegel, pull requests merged in 2023-12, with the labels that each got.

#435 test(dropdown): added unit tests
  packages/core/src/components/dropdown/test/basic/dropdown.e2e.ts
  packages/core/src/components/dropdown/test/basic/dropdown.e2e.ts-snapshots/tds-dropdown-basic-clicking-the-dropdown-button-opens-the-dropdown-list-1-linux.png
  packages/core/src/components/dropdown/test/basic/dropdown.e2e.ts-snapshots/tds-dropdown-basic-renders-basic-dropdown-correctly-1-linux.png
  packages/core/src/components/dropdown/test/basic/index.html
  packages/core/src/components/dropdown/test/default/dropdown.e2e.ts
  packages/core/src/components/dropdown/test/default/dropdown.e2e.ts-snapshots/tds-dropdown-default-clicking-the-dropdown-button-opens-the-dropdown-list-1-linux.png
  packages/core/src/components/dropdown/test/default/dropdown.e2e.ts-snapshots/tds-dropdown-default-clicking-the-dropdown-opens-the-dropdown-list-then-click-Option-1-1-linux.png
  packages/core/src/components/dropdown/test/default/dropdown.e2e.ts-snapshots/tds-dropdown-default-renders-default-dropdown-correctly-1-linux.png
  packages/core/src/components/dropdown/test/default/index.html
  packages/core/src/components/dropdown/test/error/dropdown.e2e.ts
  packages/core/src/components/dropdown/test/error/dropdown.e2e.ts-snapshots/tds-dropdown-error-clicking-the-dropdown-opens-the-dropdown-list-1-linux.png
  packages/core/src/components/dropdown/test/error/dropdown.e2e.ts-snapshots/tds-dropdown-error-renders-error-dropdown-correctly-1-linux.png
  packages/core/src/components/dropdown/test/error/index.html
  packages/core/src/components/dropdown/test/filter/dropdown.e2e.ts
  packages/core/src/components/dropdown/test/filter/dropdown.e2e.ts-snapshots/tds-dropdown-filter-clicking-the-dropdown-open-5bcbd-to-only-show-that-option-in-the-dropdown-list-1-linux.png
  packages/core/src/components/dropdown/test/filter/dropdown.e2e.ts-snapshots/tds-dropdown-filter-renders-filter-dropdown-correctly-1-linux.png
  packages/core/src/components/dropdown/test/filter/index.html
  packages/core/src/components/dropdown/test/multiselect/dropdown.e2e.ts
  packages/core/src/components/dropdown/test/multiselect/dropdown.e2e.ts-snapshots/tds-dropdown-multiselect-clicking-the-dropdown-a2125--dropdown-list-then-click-on-all-the-options-1-linux.png
  packages/core/src/components/dropdown/test/multiselect/dropdown.e2e.ts-snapshots/tds-dropdown-multiselect-clicking-the-dropdown-de184-ist-then-click-Option-1-should-not-close-it-1-linux.png
  packages/core/src/components/dropdown/test/multiselect/dropdown.e2e.ts-snapshots/tds-dropdown-multiselect-clicking-the-dropdown-opens-the-dropdown-list-1-linux.png
  packages/core/src/components/dropdown/test/multiselect/dropdown.e2e.ts-snapshots/tds-dropdown-multiselect-renders-multiselect-dropdown-correctly-1-linux.png
  packages/core/src/components/dropdown/test/multiselect/index.html
Labels: 🧪 test

#441 fix(chip): double click for radio type
  packages/core/src/components/chip/chip.tsx
Labels: 🐛 bug

#438 test(table): added unit tests
  packages/core/src/components/table/table/test/batch/index.html
  packages/core/src/components/table/table/test/batch/table.e2e.ts
  packages/core/src/components/table/table/test/batch/table.e2e.ts-snapshots/tds-table-batch-renders-batch-table-correctly-1-linux.png
  packages/core/src/components/table/table/test/default/index.html
  packages/core/src/components/table/table/test/default/table.e2e.ts
  packages/core/src/components/table/table/test/default/table.e2e.ts-snapshots/tds-table-default-renders-default-table-correctly-1-linux.png
  packages/core/src/components/table/table/test/expandable-row/index.html
  packages/core/src/components/table/table/test/expandable-row/table.e2e.ts
  packages/core/src/components/table/table/test/expandable-row/table.e2e.ts-snapshots/tds-table-expandable-row-Under-first-row-opened-expanded-row-with-text-Hello-world-1-1-linux.png
  packages/core/src/components/table/table/test/expandable-row/table.e2e.ts-snapshots/tds-table-expandable-row-render-expandable-row-table-correctly-1-linux.png
  packages/core/src/components/table/table/test/expandable-row/table.e2e.ts-snapshots/tds-table-expandable-row-under-second-row-opened-expanded-row-with-text-Hello-to-you-too-1-linux.png
  packages/core/src/components/table/table/test/expandable-row/table.e2e.ts-snapshots/tds-table-expandable-row-under-third-row-opene-28a23--row-with-a-button-with-text-Call-to-action-1-linux.png
  packages/core/src/components/table/table/test/filtering/index.html
  packages/core/src/components/table/table/test/filtering/table.e2e.ts
  packages/core/src/components/table/table/test/filtering/table.e2e.ts-snapshots/tds-table-filtering-clicking-on-search-button-opens-field-for-entering-data-1-linux.png
  packages/core/src/components/table/table/test/filtering/table.e2e.ts-snapshots/tds-table-filtering-look-for-textbox-and-click-it-1-linux.png
  packages/core/src/components/table/table/test/filtering/table.e2e.ts-snapshots/tds-table-filtering-renders-filtering-table-correctly-1-linux.png
  packages/core/src/components/table/table/test/multiselect/index.html
  packages/core/src/components/table/table/test/multiselect/table.e2e.ts
  packages/core/src/components/table/table/test/multiselect/table.e2e.ts-snapshots/tds-table-multiselect-can-check-every-checkbox-in-the-table-1-linux.png
  packages/core/src/components/table/table/test/multiselect/table.e2e.ts-snapshots/tds-table-multiselect-renders-multiselect-table-correctly-1-linux.png
  packages/core/src/components/table/table/test/pagination/index.html
  packages/core/src/components/table/table/test/pagination/table.e2e.ts
  packages/core/src/components/table/table/test/pagination/table.e2e.ts-snapshots/tds-table-pagination-renders-pagination-table-correctly-1-linux.png
  packages/core/src/components/table/table/test/sorting/index.html
  packages/core/src/components/table/table/test/sorting/table.e2e.ts
  packages/core/src/components/table/table/test/sorting/table.e2e.ts-snapshots/tds-table-sorting-column-headers-are-clickable-1-linux.png
  packages/core/src/components/table/table/test/sorting/table.e2e.ts-snapshots/tds-table-sorting-renders-sorting-table-correctly-1-linux.png
Labels: 🧪 test

#445 fix(css): headline-05 updated to correct value
  packages/core/src/global/scania-fonts-selectors.scss
  packages/core/src/global/scania-fonts-vars.scss
  typography/scania-fonts-selectors.scss
  typography/scania-fonts-vars.scss
Labels: 🐛 bug

#446 fix(message): updated storybook mode-variant default
  packages/core/src/components/message/message.stories.tsx
Labels: 🐛 bug, 📚 storybook

#448 feat(css): update from rem to px on utility classes
  packages/core/src/global/scania-fonts-selectors.scss
  typography/scania-fonts-selectors.scss
Labels: 🍾 improvement, 🪆 refactor

#459 fix(release-angular): added working directory
  .github/workflows/release-angular.yml
Labels: 🐛 bug

#464 test(card): Adding unit tests
  packages/core/src/components/card/test/basic/card.e2e.ts
  packages/core/src/components/card/test/basic/card.e2e.ts-snapshots/tds-card-basic-renders-basic-card-correctly-1-linux.png
  packages/core/src/components/card/test/basic/index.html
  packages/core/src/components/card/test/clickable/card.e2e.ts
  packages/core/src/components/card/test/clickable/card.e2e.ts-snapshots/tds-card-clickable-renders-clickable-card-correctly-1-linux.png
  packages/core/src/components/card/test/clickable/index.html
  packages/core/src/components/card/test/default/card.e2e.ts
  packages/core/src/components/card/test/default/card.e2e.ts-snapshots/tds-card-default-renders-default-card-correctly-1-linux.png
  packages/core/src/components/card/test/default/index.html
Labels: 🧪 test

#454 fix(slider): update on value should not send a tdsChange event
  packages/core/src/components/slider/slider.tsx
Labels: 🐛 bug

#461 test(header): Adding unit tests
  packages/core/src/components/header/test/default/header.e2e.ts
  packages/core/src/components/header/test/default/header.e2e.ts-snapshots/tds-header-default-launcher-should-open-on-click-1-linux.png
  packages/core/src/components/header/test/default/header.e2e.ts-snapshots/tds-header-default-renders-default-header-correctly-1-linux.png
  packages/core/src/components/header/test/default/index.html
Labels: 🧪 test

#462 test(footer): Adding unit tests
  packages/core/src/components/footer/test/default/footer.e2e.ts
  packages/core/src/components/footer/test/default/footer.e2e.ts-snapshots/tds-footer-default-renders-default-footer-correctly-1-linux.png
  packages/core/src/components/footer/test/default/index.html
Labels: 🧪 test

#467 test(popover-canvas): Adding unit tests
  packages/core/src/components/popover-canvas/test/default/index.html
  packages/core/src/components/popover-canvas/test/default/popover-canvas.e2e.ts
  packages/core/src/components/popover-canvas/test/default/popover-canvas.e2e.ts-snapshots/tds-popover-canvas-default-renders-default-popover-canvas-correctly-1-linux.png
  packages/core/src/components/popover-canvas/test/show-false/index.html
  packages/core/src/components/popover-canvas/test/show-false/popover-canvas.e2e.ts
  packages/core/src/components/popover-canvas/test/show-false/popover-canvas.e2e.ts-snapshots/tds-popover-canvas-show-false-renders-show-false-popover-canvas-correctly-1-linux.png
  packages/core/src/components/popover-canvas/test/show-true/index.html
  packages/core/src/components/popover-canvas/test/show-true/popover-canvas.e2e.ts
  packages/core/src/components/popover-canvas/test/show-true/popover-canvas.e2e.ts-snapshots/tds-popover-canvas-show-true-renders-show-true-popover-canvas-correctly-1-linux.png
Labels: 🧪 test

#470 test(breadcrumbs): adding unit tests
  packages/core/src/components/breadcrumbs/test/default/breadcrumbs.e2e.ts
  packages/core/src/components/breadcrumbs/test/default/breadcrumbs.e2e.ts-snapshots/tds-breadcrumbs-default-page-3-item-should-be-able-to-become-focused-1-linux.png
  packages/core/src/components/breadcrumbs/test/default/breadcrumbs.e2e.ts-snapshots/tds-breadcrumbs-default-renders-default-breadcrumbs-correctly-1-linux.png
  packages/core/src/components/breadcrumbs/test/default/index.html
Labels: 🧪 test

#468 test(popover-menu): Adding unit tests
  packages/core/src/components/popover-menu/test/default/index.html
  packages/core/src/components/popover-menu/test/default/popover-menu.e2e.ts
  packages/core/src/components/popover-menu/test/default/popover-menu.e2e.ts-snapshots/tds-popover-menu-default-clicking-the-trigger-button-should-open-the-popover-menu-dialog-1-linux.png
  packages/core/src/components/popover-menu/test/default/popover-menu.e2e.ts-snapshots/tds-popover-menu-default-renders-default-popover-menu-correctly-1-linux.png
  packages/core/src/components/popover-menu/test/icons-fluid/index.html
  packages/core/src/components/popover-menu/test/icons-fluid/popover-menu.e2e.ts
  packages/core/src/components/popover-menu/test/icons-fluid/popover-menu.e2e.ts-snapshots/tds-popover-menu-icons-fluid-renders-icons-fluid-popover-menu-correctly-1-linux.png
  packages/core/src/components/popover-menu/test/show-false/index.html
  packages/core/src/components/popover-menu/test/show-false/popover-menu.e2e.ts
  packages/core/src/components/popover-menu/test/show-false/popover-menu.e2e.ts-snapshots/tds-popover-menu-show-false-renders-show-false-popover-menu-correctly-1-linux.png
  packages/core/src/components/popover-menu/test/show/index.html
  packages/core/src/components/popover-menu/test/show/popover-menu.e2e.ts
  packages/core/src/components/popover-menu/test/show/popover-menu.e2e.ts-snapshots/tds-popover-menu-show-renders-show-true-popover-menu-correctly-1-linux.png
Labels: 🧪 test
